# Python cache files
__pycache__/
*.py[cod]
*.so
*.pyc   
*.pth

# Virtual environment   
venv/
.venv/
sensing-env/

# Environment variables
.env

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Data files
data/

# Logs or temp
*.log
*.tmp
