# Python cache files
__pycache__/
*.py[cod]
*.so
*.pyc   
*.pth

# Python packaging
*.egg-info/

# Virtual environment   
venv/
.venv/
/sensing-env/

# Environment variables
.env

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Data files
/data/

# Logs or temp
*.log
*.tmp

#Include src/data in commit
!/src/data/